@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e8989;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
  max-width: 100%;
  width: 600px;
}

.progress-container::before {
  content: '';
  background-color: #353232;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 10px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #7c34db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #2c2b2b;
  color: #e2e2e2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #353232;
  transition: 0.4s ease;
}

.btn {
  background-color: #353232;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  font-size: 3rem;
  padding: 8px 30px;
  margin: 5px;
}
